<footer class="nb-footer">
  <div class="nb-footer-logo">
    STAYZEN
  </div>

  <div class="nb-footer-content px-4">
    <div class="nb-footer-section">
      <h4>Company</h4>
      <ul class="nb-footer-links">
        <li><a href="/about">About Us</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/press">Press</a></li>
      </ul>
    </div>

    <div class="nb-footer-section">
      <h4>Support</h4>
      <ul class="nb-footer-links">
        <li><a href="/help">Help Center</a></li>
        <li><a href="/safety">Safety Information</a></li>
        <li><a href="/cancellation">Cancellation Policy</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>

    <div class="nb-footer-section">
      <h4>Social Connect</h4>
      <div class="nb-footer-social">
        <a href="#" class="nb-social-btn" title="Facebook">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="#" class="nb-social-btn" style="box-shadow: 6px 6px 0 var(--nb-pink);" title="Instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#" class="nb-social-btn" style="box-shadow: 6px 6px 0 var(--nb-cyan);" title="LinkedIn">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="#" class="nb-social-btn" style="box-shadow: 6px 6px 0 var(--nb-yellow);" title="Twitter">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="nb-footer-bottom px-4">
    <div class="nb-footer-copyright">
      &copy; 2026 StayZen Private Limited
    </div>
    <div class="nb-footer-links d-flex gap-3">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/cookies">Cookie Settings</a>
    </div>
  </div>
</footer>